<div class="mega mega--2col" id="mega-resources" data-open="false">
  <div class="wrap mega-in">
    <div>
      <p class="mega-col-t">Read</p>
      <ul class="mega-list">
        <li><a class="mega-link" href="/blog/"><span class="ico-sm"><svg aria-hidden="true"><use href="#i-doc"/></svg></span><span><b>Blog</b><span>Practical guidance from our engineers</span></span></a></li>
        <li><a class="mega-link" href="/case-studies/"><span class="ico-sm"><svg aria-hidden="true"><use href="#i-chart"/></svg></span><span><b>Case studies</b><span>What changed, with the numbers</span></span></a></li>
      </ul>
    </div>
    <div>
      <p class="mega-col-t">Use</p>
      <ul class="mega-list">
        <li><a class="mega-link" href="/resources/it-checklists/"><span class="ico-sm"><svg aria-hidden="true"><use href="#i-check"/></svg></span><span><b>Checklists &amp; guides</b><span>Pre-audit and pre-renewal worksheets</span></span></a></li>
        <li><a class="mega-link" href="/service-areas/"><span class="ico-sm"><svg aria-hidden="true"><use href="#i-pin"/></svg></span><span><b>Service areas</b><span>Where our engineers work on site</span></span></a></li>
      </ul>
    </div>
  </div>
</div>
